<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/styles.css">

    <title>My Goals</title>
</head>
<body>
    Does it still work today on Saturday, 2/19/22?
    <br>
    <%- body %>  <!-- "Body is being passed in from "index.ejs"-->
    <br>
    After
    <script src="js/browser-app.js"></script>
</body>
</html>